extends layout

block content
  .bar
  .container-fluid
      .row
        .col-md-12
          h1.text-center Why I Run
        .col-md-12
          h2.text-center Share with the world why you run.
        .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.share-box.col-sm-6.col-sm-offset-3
          #panel-share.panel.panel-info
            textarea#share.panel-body(rows='4')
            .panel-footer.text-right
              span#counter.text-counter 0
              span#maxCount /140
              button#share.btn.btn-info(type='button', onclick='addPost()') Share!
    .post-wrapper
      .container-fluid
        .row
          .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.col-sm-6.col-sm-offset-3
            .post-list
              .post
                p.text-center.post-content Because I feel at peace.
                  span.hearted.glyphicon.glyphicon-heart
              .post-2
                  p.text-center.post-content-2
                    | So my dog Milo and I can get some exercise and hit the trails. Guy can’t sit around all day.
                  span.hearted-2.glyphicon.glyphicon-heart
              .post
                  p.text-center.post-content So I can indulge in decadent entrees.
                  span.hearted.glyphicon.glyphicon-heart
              .post-2
                  p.text-center.post-content-2
                    | After years of wanting to I finally started running, and it totally changed my life in so many ways.
                  span.hearted-2.glyphicon.glyphicon-heart

