extends layout

block content
  #site-wrapper
      #site-canvas
          #site-menu
            div
              span.glyphicon.glyphicon-user(aria-hidden='true')
              a(href='http://localhost:3000/logout') Logout
            div
              span.glyphicon.glyphicon-road(aria-hidden='true')
              a(href='') More Stuff
            div
              span.glyphicon.glyphicon-music(aria-hidden='true')
              a(href='') Even some more stuff
            div
              span.glyphicon.glyphicon-cog(aria-hidden='true')
              a(href='') Maybe some settings
          a#menu-button.toggle-nav.btn.btn-lg.btn-default(href='#')
            span#hamburger.glyphicon.glyphicon-align-justify
          | &#x9;&#x9;
          .container-fluid
            .row
              .col-md-12
                h1#main-heading.text-center Why&nbsp;I&nbsp;Run
              | &#x9;&#x9;&#x9;&#x9;
              .col-md-12
                h2#share-heading.text-center Share with the world why you run.
              | &#x9;&#x9;&#x9;&#x9;
              .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3.share-box.col-sm-6.col-sm-offset-3
                #panel-share.panel.panel-info
                  textarea#share.panel-body(placeholder='Why do you run?', rows='4')
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .panel-footer.text-right
                    // <span id="share-twitter"><input type="checkbox" name="twitter" value="twitter" id="share-twitter"> Share to Twitter </span>
                    span#counter.text-counter 0
                    span#maxCount /140
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                    button#share-button.btn.btn-info(type='button', onclick='addPost()') Share!
          | &#x9;&#x9;
          .post-wrapper
            .container-fluid
              .row
                .post-list.col-xs-12
                  .post
                    p.text-center.post-content Because I feel at peace.
                    span.hearted.glyphicon.glyphicon-heart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .post-2
                    p.text-center.post-content-2
                      | So my dog Milo and I can get some exercise and hit the trails. Guy can&rsquo;t sit around all day.
                    span.hearted-2.glyphicon.glyphicon-heart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .post
                    p.text-center.post-content So I can indulge in decadent entrees.
                    span.hearted.glyphicon.glyphicon-heart
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  .post-2
                    p.text-center.post-content-2
                      | After years of wanting to I finally started running, and it totally changed my life in so many ways.
                    span.hearted-2.glyphicon.glyphicon-heart
          footer.text-center © 2014




