extends layout

block content
    .container-fluid
        .row   
            .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
                form.form-signin(action='/login', method='post', id='login', style='margin-top: 2em')
                    h2.form-signin-heading Please sign in
                    p email: test@test.com password: test
                    label.sr-only(for='email') Email address
                    input#inputEmail.form-control(type='email', placeholder='Email address', required='', autofocus='', name='email', style='margin-bottom: 0.5em')
                    label.sr-only(for='password') Password
                    input#inputPassword.form-control(type='password', placeholder='Password', required='', name='password')
                    .checkbox
                      label
                        input(type='checkbox', value='remember-me')
                        |  Remember me
                    button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
