doctype html(lang='en')
head
    meta(charset='utf-8')
    title= title
    meta(name='description', content='A nice login form')
    link(rel='stylesheet', type='text/css', href='/stylesheets/login.css')
body
    form#slick-login(method='post', action='/login')
      h2#title Login
      p email: test@test.com
      label(for='email') email
      input.placeholder(type='email', name='email', placeholder='Email', required='')       
      p password: test
      label(for='password') password
      input.placeholder(type='password', name='password', placeholder='Password', required='')
      input(type='submit', value='Log In')
    // for placeholder fallback
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
    script(src='http://www.modernizr.com/downloads/modernizr-latest.js')
    script(src='/javascripts/app/placeholder.js')

